.container {
  max-width: $lg;
  margin: 30px auto;
  padding: 15px 20px;

  @media (min-width: $sm) {
    padding: 15px 40px;
  }

  @media (min-width: $md) {
    padding: 15px 55px;
  }

  @media (min-width: $lg) {
     padding: 15px 80px;
  }
}